/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 100%;
}

.container{
    width: 80%;
    margin: 0 auto;
    background-color: blue;
}

.row{
    background-color: blueviolet;
    margin: 50px;
}

.card{
    width: 250px;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.inline{
    /* display: inline-block; */
}

.block{
    display: block;
}

.green-box{
    font-size: 13px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(10, 162, 26);
    bottom: 70px;
    left: 50px;
}

.discount{
    font-size: 13px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: red;
    bottom: 70px;
    left: 0;
}

.heart{
    margin-left: auto;
    margin-top: auto;
    font-size: 28px;
    background-color: white;
    color: black;
    top: 15px;
    right: 0;
    width: 30px;
    height: 30px;
}

.name-article{
    font-weight: 600;
}

.discount-price{
    color: red;
}

.first-price{
    text-decoration: line-through;
}
