/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 80%;
    margin: 0 auto;
    background-color: blue;
}

.row{
    background-color: blueviolet;
    margin: 50px;
}

.card{
    width: 250px;
    display: inline-block;
}
.img{
    width: 100%;
    z-index: 0;
}

.text-photo{
    width: 200px;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.block{
    display: block;
}

.green-box{
    font-size: 13px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(10, 162, 26);
    bottom: 20px;
    left: 50px;
    z-index: 2;
}

.discount{
    font-size: 13px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: red;
    bottom: 20px;
    left: 0;
    z-index: 2
}

.heart{
    text-align: center;
    font-size: 28px;
    background-color: white;
    color: black;
    top: 15px;
    right: 0;
    width: 30px;
    height: 30px;
    z-index: 2
}

.heart:hover,
.heart:active{
    color: red;
}

.img:hover{
    display: none;
}

.name-article{
    font-weight: 600;
}

.discount-price{
    color: red;
}

.first-price{
    text-decoration: line-through;
}

.img-hover{
    display: none;
}

.card:hover .img-hover{
    display: inline;
    z-index: 1;
}

.card:hover .first-image{
    display: none;
}